table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
  tr
    td.bg_light.footer.email-section(valign='middle')
      table
        tr
          td(valign='top' width='33.333%' style='padding-top: 20px;')
            table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
              tr
                td(style='text-align: left; padding-right: 10px;')
                  h3.heading About
                  p
                    |Rederly provides WeBWorK-compatible, open source homework and exam services, including advanced features, increased reliability, and broad faculty and student support.
          td(valign='top' width='33.333%' style='padding-top: 20px;')
            table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
              tr
                td(style='text-align: left; padding-left: 5px; padding-right: 5px;')
                  h3.heading Contact Info
                  ul
                    li
                      a(href='mailto:support@rederly.com') support@rederly.com
          td(valign='top' width='33.333%' style='padding-top: 20px;')
            table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
              tr
                td(style='text-align: left; padding-left: 10px;')
                  h3.heading Useful Links
                  ul
                    li
                      a(href=`https://${BASE_DOMAIN}`) Home
                    li
                      a(href=`https://app.${BASE_DOMAIN}`) App Portal
                    li
                      a(href=`https://${BASE_DOMAIN}/services`) Services
                    li
                      a(href=`https://${BASE_DOMAIN}/resources`) Blog
                    li
                      a(href=`https://${BASE_DOMAIN}/platform`) Tutorials &#38; FAQ
  // end: tr
  tr
    td.bg_light(style='text-align: center;')
      p
        | Copyright Rederly, Inc. 2020
